.zoomable-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.zoomable-image {
    max-width: 80%;
    max-height: 80%;
    border: 5px solid #8b4513;
    /* Dark brown border for images */
    border-radius: 10px;
    cursor: zoom-in;
}